
body {
  width: auto!important;
  overflow-x: hidden;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Cormorant Unicase', serif;
  background-color: #fdfdfd;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
}* 

h1, h2, h3, h4 {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 400;
}
h5 h6, p {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
}
.ebn {
  color:#9d5821;
  color: #984d20;
}
.white {
  color: #dee2d6;
}
.header-section{
  padding:0.7rem;
}
.main-section {
  padding-right: 0rem;
}
.stones {
   background-color:#dfe5ec; 
   background-color:#23748796;
   color: white;
}
.keum {
  background-color:#ccb457; 
}
.keum-text {
  padding-left: 1rem;
  padding-right: 1rem;
}
.bio { 
  font-family: 'Nunito Sans', sans-serif;
  font-weight :400;
  font-size: large;
  line-height: 1.5em; 
  background-color:#b99f7f;
}
.fossil-place {
  background-color:#b99f7f;
}
.fossil {
  max-width:7rem;
  margin: 1rem;
}
.voices {
  max-width: 40%;
}
.back-color {
  background-color:#c3d1de;
}
.zoom {
  background-color: white;
  transition: transform .3s;
  margin: 0 auto; 
}
.zoom:hover {
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
.figure-caption {
  margin-top: 1.5rem;
  font-family: 'Nunito Sans', serif;
  font-weight: 500;
  font-size: 1.4em;
}

 /* 07. RAM (Repeat, Auto, Minmax)
grid-template-columns: repeat(auto-fit, minmax(<base>, 1fr)) */
.ram {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ram .box { 
  place-items: center;
  text-align: center;
  padding: 3rem;
  padding: 7rem;
}
/*.ram-bio {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}*/
  /* 08. Line Up justify-content: space-between */
.card-lineup { 
 
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
footer { 
  background-color:#ae4d00;
  color:white;
}
a {
 color: rgb(7, 66, 161);
}
a:hover {
  color: #23748796;
}
/*@media (min-width: 1200px) {
 body {
   max-width: 1170px;

  }
}